.moviecard {
	display: flex;
	gap: 1.25rem;
	padding: 0 1.5rem;
	margin-bottom: 1rem;
}
.moviecard:last-of-type {
	margin-bottom: 0;
}
.moviecard img {
	width: 6rem;
	box-shadow: 0.15rem 0.2rem 0.25rem rgb(200, 200, 200);
	border-radius: 0.5rem;
}
.moviecard h3 {
	font-size: 1rem;
	margin: 0;
}
.moviecard__imdb {
	font-size: 0.85rem;
	margin: 0.5rem 0;
}
.moviecard__imdb i {
	color: gold;
	margin-right: 0.25rem;
}

.moviecard__genre {
	display: inline-block;
	font-size: 0.6rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #88A4E8;
	letter-spacing: 5%;
	padding: 0.2rem 0.5rem 0.2rem;
	background-color: #DBE3FF;
	margin-right: 0.3rem;
	border-radius: 1rem;
}
