.moviecard {
	display: flex;
	gap: 1rem;
	padding: 0 1.5rem;
	margin-bottom: 1rem;
}
.moviecard:last-of-type {
	margin-bottom: 0;
}
.moviecard img {
	width: 6rem;
}
.moviecard h2 {
	font-size: 1rem;
	margin: 0;
}
.moviecard__imdb {
	margin: 0.5rem 0;
}
.moviecard__genre {
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.1rem 0.5rem 0.3rem;
	background-color: lightblue;
	margin-right: 0.3rem;
	border-radius: 1rem;
}
