.slider {
	display: flex;
	overflow-x: scroll;
	gap: 1.25rem;
	margin: 1rem 0 2.5rem;
	scrollbar-width: none /*  hide scrollbar in Firefox */;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}
