@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Mulish:wght@400;600;700&display=swap");

html {
	font-family: "Mulish", Arial, sans-serif;
}
body {
	margin: 0;
}
h1,
h2 {
	font-family: "Merriweather", serif;
}
